<template>
	<form submit.prevent>
		<div class="row gutter-md">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<q-field inset="inset" icon="fa-user">
					<q-input stack-label="שם מלא" placeholder="הזן שם פרטי ושם משפחה"></q-input>
				</q-field>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<q-field inset="inset" icon="fa-phone">
					<q-input stack-label="מספר נייד" placeholder="הזן את מספר הנייד שלך שנוכל ליצור קשר"></q-input>
				</q-field>
			</div>
			<div class="col-12">
				<q-field inset="inset" icon="fa-folder">
					<q-select stack-label="נושא הפניה" placeholder="בחר את נושא הפניה שלך" :options="options" v-model="subject"></q-select>
				</q-field>
			</div>
			<div class="col-12">
				<q-field inset="inset" icon="fa-comment">
					<q-input type="textarea" stack-label="הודעה" placeholder="כתוב כאן איך נוכל לעזור לך"></q-input>
				</q-field>
			</div>
			<div class="col">
				<q-btn rounded color="primary" style="padding: 10px 30px;" size="lg" label="שלח פניה" icon="fab fa-telegram-plane"></q-btn>
			</div>
		</div>
	</form>
</template>

<script>
	export default {
		data(){
			return {
				subject: 0,
				options: [
					{
						label: 'הובלת דירה',
						value: 0
					},
					{
						label: 'קבלת הצעת מחיר להעברת משרד',
						value: 1
					},
					{
						label: 'עזרה באתר',
						value: 2
					}
				]
			}
		}
	}
</script>