$body-bg: #fff;
$font-size: 16px;
$font-family: 'Varela Round', arial;
$text-color: #000;

$header-height: 120px;
$h1-font-size: 80px;
$home-title-font-size: 35px;
$primary-color: #79c942;
$footer-height: 280px;

@mixin gradient {
	background: linear-gradient(180deg, #66a5ff, #0069ff);
}

.bg-gradient {
	background: linear-gradient(180deg, #66a5ff, #0069ff);
}


@mixin xs {
	@media screen and (min-width: 576px) {
		@content;
	}
}

@mixin md {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin lg {
	@media screen and (min-width: 992px) {
		@content;
	}
}

@mixin xl {
	@media screen and (min-width: 1200px) {
		@content;
	}
}