// Font
@import url('https://fonts.googleapis.com/css?family=Varela+Round&subset=hebrew');

// Tippy
@import "~v-tippy/dist/tippy.css";

// Variables
@import "variables";

.container {
	padding: 0px 2em;
}

#site-content {
	min-height: calc(100vh - 248px);
}

body {
	background: $body-bg;
	font-family: $font-family;
	font-size: $font-size;
	color: $text-color;
	direction: rtl;
}

header {
	height: $header-height;
	width: 100%;
	padding: 15px 0px 10px 0px;
	// border-bottom: 3px solid darken(#66a5ff, 10%);

	#logo {
		margin-top: 5px;
	}

	@media screen and (max-width: 768px) {
		.logo-container {
			text-align: center !important;
		}
	}
}

.main-block {
	@include gradient();
	min-height: calc(100vh - 80px);
	width: 100%;
	color: #fff;
	padding-bottom: 20px;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 50px;

	.main-block-title {
		padding: 0px;
		margin: 0px;
		display:inline-block;
		border-bottom: 5px solid #fff;
	}

	.main-block-content {
		margin-top: 50px;
	}
}

#main-section {
	@include gradient();
	min-height: calc(100vh - 120px);
	width: 100%;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 20px;
	padding-right: 50px;
	padding-left: 50px;

	h1 {
		font-size: 80px;
		margin-top: 0px;
		margin-bottom: 50px;

		@media screen and (max-width: 992px) {
			font-size: 40px;
		}
	}

	#icons-set {
		width: 100%;
		margin: auto;

		> div {
			@media screen and (max-width: 768px) {
				padding-right: 0px;
			}

			&:first-child {
				padding-right: 0px !important;
			}
			svg {
				height: 100px;
				color: #fff;
				fill: #fff;
			}

			strong {
				display: block;
				font-size: 25px;
				margin-top: 10px;
			}
		}
	}

	#continue-link {
		display: block;
		margin-top: 90px;
	}

	#action-btn {
		font-size: 40px;
		background: #79c942 !important;
		height: 130px;
		max-width: 100%;
		margin-top: 50px;
		padding: 0px 30px;

		span {
			display: block;
		}
		small {
			display: block !important;
			font-size: 16px;
		}
		.q-icon {
			font-size: 35px;
			display: block;
		}
	}
}

.home-section {
	padding: 50px 0px;
	min-height: 400px;
	.home-section-title {
		font-size: $home-title-font-size;
		display: block;
		//text-align: center;
	}

	.home-section-content {
		padding-top: 50px;
	}

	&#home-plans-section {
		// text-align: center;
	}
}
#plans-set {
	margin: auto;
	color: #000;

	.q-card {
		background: #fff;
		border-radius: 50px;
		border: 2px solid darken(#0069ff, 5%);

		.plan-svg svg {
			height: 100px;
			width: 100px;
		}

		h5 {
			text-align: center;
			padding: 0px;
			margin: 10px 0px 0px 0px;
		}

		.q-card-actions {
			padding-bottom: 20px;

			.q-btn {
				display: block;
				margin: auto;
			}
		}
	}
}

.q-icon {
	padding-left: 5px;
}

.text-green {
	color: $primary-color !important;
}

.bg-green {
	background: $primary-color !important;
}

.q-btn .on-left {
	margin-left: 0px !important;
}

@media screen and (max-width: 768px) {
	.hidden-xs {
		display: none;
	}
}

@media screen and (min-width: 769px) and (max-width: 992px) {
	.hidden-md {
		display: none;
	}
}

@media screen and (min-width: 992px) {
	.hidden-lg {
		display: none;
	}
}

.icon-btn {
	.q-icon {
		padding-left: 0px !important;
	}
}

.q-card {
	border-radius: 10px;
}

footer {
	min-height: 200px;
	width: 100%;
	background: $primary-color;

	#footer-social {
		strong {
			display: block;
			margin-bottom: 20px;
		}

		.q-btn {
			margin-left: 10px;
		}
	}

	.footer-links {
		a, a:visited {
			color: #fff;
		}
	}
}

.q-if-label {
	font-size: 22px !important;
}

.q-btn {
	padding: 0px 20px !important;
}

.q-tabs-head.row.q-tabs-align-justify.bg-green {
	border-radius: 10px;
}

.q-tab-label {
	font-size: 18px !important;
}

.q-popover {
	border-radius: 10px;
	margin-top: 10px;
}

.q-field-dark .q-field-bottom, .q-field-dark .q-field-counter, .q-field-dark .q-field-icon, .q-field-dark .q-field-label {
	color: #fff !important;
}

.q-alert {
	border-radius: 10px;

	.q-alert-side{
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	&.bg-white {
		.q-alert-side {
			background: $primary-color;
		}
	}
}

// datetime fix
.q-datetime-clock {
	direction: ltr;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background: #e0e0e0;
	padding: 24px;
}
.q-datetime-clock-circle {
	position: relative;
	animation: q-pop-in 0.5s;
}
.q-datetime-clock-center {
	height: 6px;
	width: 6px;
	top: 0;
	margin: auto;
	border-radius: 50%;
	min-height: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: currentColor;
}
.q-datetime-clock-pointer {
	width: 1px;
	height: 50%;
	margin: 0 auto;
	transform-origin: top center;
	min-height: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: currentColor;
}
.q-datetime-clock-pointer span {
	position: absolute;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	bottom: -8px;
	left: 0;
	min-width: 0;
	min-height: 0;
	transform: translate(-50%, -50%);
	background: currentColor;
}
body.desktop .q-datetime-clock-position:not(.active):hover {
	background: #f5f5f5 !important;
}
.q-datetime-clock-position {
	position: absolute;
	min-height: 32px;
	width: 32px;
	height: 32px;
	font-size: 12px;
	line-height: 32px;
	margin: 0;
	padding: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}
.q-datetime-clock-position:not(.active) {
	color: #000;
}
.q-datetime-clock-position.active {
	background: currentColor;
}
.q-datetime-clock-position.active > span {
	color: #fff;
}
.q-datetime-clock-pos-0 {
	top: 0%;
	left: 50%;
}
.q-datetime-clock-pos-1 {
	top: 6.7%;
	left: 75%;
}
.q-datetime-clock-pos-2 {
	top: 25%;
	left: 93.3%;
}
.q-datetime-clock-pos-3 {
	top: 50%;
	left: 100%;
}
.q-datetime-clock-pos-4 {
	top: 75%;
	left: 93.3%;
}
.q-datetime-clock-pos-5 {
	top: 93.3%;
	left: 75%;
}
.q-datetime-clock-pos-6 {
	top: 100%;
	left: 50%;
}
.q-datetime-clock-pos-7 {
	top: 93.3%;
	left: 25%;
}
.q-datetime-clock-pos-8 {
	top: 75%;
	left: 6.7%;
}
.q-datetime-clock-pos-9 {
	top: 50%;
	left: 0%;
}
.q-datetime-clock-pos-10 {
	top: 25%;
	left: 6.7%;
}
.q-datetime-clock-pos-11 {
	top: 6.7%;
	left: 25%;
}
.q-datetime-clock-pos-12 {
	top: 0%;
	left: 50%;
}
.q-datetime-clock-pos-0.fmt24 {
	top: 0%;
	left: 50%;
}
.q-datetime-clock-pos-1.fmt24 {
	top: 1.7%;
	left: 62.94%;
}
.q-datetime-clock-pos-2.fmt24 {
	top: 6.7%;
	left: 75%;
}
.q-datetime-clock-pos-3.fmt24 {
	top: 14.64%;
	left: 85.36%;
}
.q-datetime-clock-pos-4.fmt24 {
	top: 25%;
	left: 93.3%;
}
.q-datetime-clock-pos-5.fmt24 {
	top: 37.06%;
	left: 98.3%;
}
.q-datetime-clock-pos-6.fmt24 {
	top: 50%;
	left: 100%;
}
.q-datetime-clock-pos-7.fmt24 {
	top: 62.94%;
	left: 98.3%;
}
.q-datetime-clock-pos-8.fmt24 {
	top: 75%;
	left: 93.3%;
}
.q-datetime-clock-pos-9.fmt24 {
	top: 85.36%;
	left: 85.36%;
}
.q-datetime-clock-pos-10.fmt24 {
	top: 93.3%;
	left: 75%;
}
.q-datetime-clock-pos-11.fmt24 {
	top: 98.3%;
	left: 62.94%;
}
.q-datetime-clock-pos-12.fmt24 {
	top: 100%;
	left: 50%;
}
.q-datetime-clock-pos-13.fmt24 {
	top: 98.3%;
	left: 37.06%;
}
.q-datetime-clock-pos-14.fmt24 {
	top: 93.3%;
	left: 25%;
}
.q-datetime-clock-pos-15.fmt24 {
	top: 85.36%;
	left: 14.64%;
}
.q-datetime-clock-pos-16.fmt24 {
	top: 75%;
	left: 6.7%;
}
.q-datetime-clock-pos-17.fmt24 {
	top: 62.94%;
	left: 1.7%;
}
.q-datetime-clock-pos-18.fmt24 {
	top: 50%;
	left: 0%;
}
.q-datetime-clock-pos-19.fmt24 {
	top: 37.06%;
	left: 1.7%;
}
.q-datetime-clock-pos-20.fmt24 {
	top: 25%;
	left: 6.7%;
}
.q-datetime-clock-pos-21.fmt24 {
	top: 14.64%;
	left: 14.64%;
}
.q-datetime-clock-pos-22.fmt24 {
	top: 6.7%;
	left: 25%;
}
.q-datetime-clock-pos-23.fmt24 {
	top: 1.7%;
	left: 37.06%;
}

div:not(.q-datetime-clockstring) > .q-datetime-link {
	padding: 0 !important;
}

.q-datetime-view-day {
	.q-btn {
		transform: rotateY(180deg);
	}
}

span.q-datetime-link.col-auto.col-md-12:first-child {
	float: left;
	padding-left: 10px;
}


span.q-datetime-link.col-auto.col-md-12:last-child {
	float: right;
	padding-right: 10px;
}

.q-datetime-view-day span.q-btn-inner.row.col.items-center.justify-center {
	transform: rotate(180deg);
}

[v-cloak] {display: none}